# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
POSTGRES_USER=prisma
POSTGRES_PASSWORD=secret
POSTGRES_HOST=postgres # SHOULD BE THE SAME AS THE DB SERVICE NAME IN docker-compose.yml
POSTGRES_DB=KANTT
POSTGRES_PORT=5432
POSTGRES_CONNECTION_LIMIT=1

# DB URL FORMAT: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA&&connection_limit=CONNECTION_LIMIT
DATABASE_URL=
CLIENT_URL=http://localhost:3000
JWT_SECRET=
JWT_EXPIRATION_TIME_SEC=300

JWT_RT_SECRET=
JWT_RT_EXPIRATION_TIME_SEC=604800

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_CLOUDFRONT_URL=
AWS_BUCKET_NAME=